.post {
    display: block;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

@media (max-width: 768px) {
    .post {
        max-width: 100%;
        padding: 0 10px;
    }
}

.my_avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.profile h2 {
    margin: 0;
    font-size: 1.5rem;
}

.profile p {
    margin: 0;
    font-size: 1rem;
}


.publications {
    margin-bottom: 10px;
}

.pub_years {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    margin-top: 20px;
}

.pub_span {
    display: inline-block;
    padding: 0 10px;
    font-weight: 500;
}